body{
    background-color:E9E8E8;
  }
  .login-form{
    padding: 10px;
    margin:20px 0;
    border: 1px solid #000;
    background-color: #F1DBBF;
  }
  
  h3{
    text-align: center;
  }
  
  .changeButton{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .changeButton button{
    padding: 5px;
    margin-right: 10px;
  }
    