body {
    background-color: darkgray;
    align-items: center;
    display: flex;
    justify-content: center;
}

h4 {
    color: white;
}

.container-fluid {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.button-login, .form-login {
    margin: 10px auto;
}